### DataFrame 구조

<img src="http://bookdata.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png">

## 1. Series

In [2]:
import pandas as pd
import numpy as np

In [2]:
# Series 생성
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# 색인 지정
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'a'])
obj2

d    4
b    7
a   -5
a    3
dtype: int64

In [6]:
obj2.index

Index(['d', 'b', 'a', 'a'], dtype='object')

In [7]:
obj2.value_counts()

 7    1
-5    1
 4    1
 3    1
dtype: int64

In [8]:
obj2.unique()

array([ 4,  7, -5,  3], dtype=int64)

## 2. DataFrame

In [9]:
# 사전으로부터 데이터프레임 생성
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year' : [2000, 2001, 2002, 2001, 2002],
        'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9]}

In [10]:
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [11]:
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [12]:
# 없는 칼럼 값을 주면 NaN으로 채워서 보여준다.(아래에서 debt)
# 인덱스 값을 새롭게 정의할 수 있다.
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

### csv 파일 읽기

In [18]:
df = pd.read_csv("data/iris.csv")

In [19]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
pd.read_csv?

In [20]:
df = pd.read_csv("data/iris.csv", delimiter=',',header=None, encoding='utf-8')

In [21]:
df.head()

              0            1             2            3        4
0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1           5.1          3.5           1.4          0.2   setosa
2           4.9            3           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa

In [22]:
df.columns=['1','2','3','4','5']

In [23]:
df.head(7)

              1            2             3            4        5
0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1           5.1          3.5           1.4          0.2   setosa
2           4.9            3           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa
5             5          3.6           1.4          0.2   setosa
6           5.4          3.9           1.7          0.4   setosa

In [24]:
df.tail()

       1    2    3    4          5
146  6.7    3  5.2  2.3  virginica
147  6.3  2.5    5  1.9  virginica
148  6.5    3  5.2    2  virginica
149  6.2  3.4  5.4  2.3  virginica
150  5.9    3  5.1  1.8  virginica

### 기본정보 확인하기

In [3]:
df = pd.read_csv("data/iris.csv")

In [26]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [27]:
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [28]:
df.tail(2)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [29]:
len(df)

150

In [30]:
df.shape

(150, 5)

In [31]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [32]:
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### 결측치

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [34]:
df.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [35]:
df.dropna?

In [36]:
df.dropna(how="any") ## 널값이 하나라도 있으면 삭제

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [37]:
df.dropna(how="all") ## 모두 널값이면 삭제

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [38]:
df.fillna(0) ## 널에 0을 채워

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### 기술통계량

In [39]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [40]:
df.max()

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

In [41]:
df.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [42]:
df.sum(axis=1)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [43]:
df.sum(axis=0)

Sepal.Length                                                876.5
Sepal.Width                                                 458.6
Petal.Length                                                563.7
Petal.Width                                                 179.9
Species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [44]:
df.sum()

Sepal.Length                                                876.5
Sepal.Width                                                 458.6
Petal.Length                                                563.7
Petal.Width                                                 179.9
Species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

### 유일값, 도수

In [58]:
df['Sepal.Length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: Sepal.Length, dtype: int64

In [59]:
df['Sepal.Length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

### 행/열 선택하기

In [60]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [54]:
df.Species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [55]:
df['Species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [61]:
type(df['Species'])

pandas.core.series.Series

#### 행 선택시 사용 메소드:  index 이름 - loc(),  index 위치 - iloc()

In [12]:
df.loc[2]

Sepal.Length       4.7
Sepal.Width        3.2
Petal.Length       1.3
Petal.Width        0.2
Species         setosa
Name: 2, dtype: object

In [7]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df.loc[2,'Sepal.Length']

4.7

In [14]:
df.loc[3]['Sepal.Length']

4.6

In [15]:
df.loc[2:10,'Sepal.Length']

2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
Name: Sepal.Length, dtype: float64

In [16]:
df.loc[2:10,'Sepal.Length'].tail()

6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
Name: Sepal.Length, dtype: float64

In [18]:
df.loc[[2,4,6,5],'Sepal.Length']

2    4.7
4    5.0
6    4.6
5    5.4
Name: Sepal.Length, dtype: float64

In [70]:
df.loc[[2,4,6,7],:'Petal.Length']

   Sepal.Length  Sepal.Width  Petal.Length
2           4.7          3.2           1.3
4           5.0          3.6           1.4
6           4.6          3.4           1.4
7           5.0          3.4           1.5

In [73]:
df.loc[:9,'Petal.Length':]

   Petal.Length  Petal.Width Species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa
5           1.7          0.4  setosa
6           1.4          0.3  setosa
7           1.5          0.2  setosa
8           1.4          0.2  setosa
9           1.5          0.1  setosa

In [74]:
X = df.loc[:,:'Petal.Length']
Y = df.loc[:,'Species']

In [75]:
Y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [19]:
df.iloc[10]

Sepal.Length       5.4
Sepal.Width        3.7
Petal.Length       1.5
Petal.Width        0.2
Species         setosa
Name: 10, dtype: object

In [76]:
df.iloc[10, 3]

0.2

In [77]:
df.iloc[0:10, 3:]

   Petal.Width Species
0          0.2  setosa
1          0.2  setosa
2          0.2  setosa
3          0.2  setosa
4          0.2  setosa
5          0.4  setosa
6          0.3  setosa
7          0.2  setosa
8          0.2  setosa
9          0.1  setosa

### 특정 행 추출

In [78]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [79]:
df['Sepal.Length']==5.0

0      False
1      False
2      False
3      False
4       True
5      False
6      False
7       True
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25      True
26      True
27     False
28     False
29     False
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: Sepal.Length, Length: 150, dtype: bool

In [80]:
df[df['Sepal.Length']>=5.0]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
7             5.0          3.4           1.5          0.2     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
23            5.1          3.3           1.7          0.5     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
31            5.4          3.4           1.5          0.4     setosa
32            5.2          4.1           1.5          0.1     setosa
33            5.5          4.2           1.4          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
39            5.1          3.4           1.5          0.2     setosa
40            5.0          3.5           1.3          0.3     setosa
43            5.0          3.5           1.6          0.6     setosa
44            5.1          3.8           1.9          0.4     setosa
46            5.1          3.8           1.6          0.2     setosa
48            5.3          3.7           1.5          0.2     setosa
49            5.0          3.3           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[128 rows x 5 columns]

In [81]:
sub_df = df[df['Sepal.Length']>=5.0]

In [82]:
sub_df.head()

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0            5.1          3.5           1.4          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
7            5.0          3.4           1.5          0.2  setosa
10           5.4          3.7           1.5          0.2  setosa

In [83]:
sub_df.reset_index?

In [84]:
sub_df = sub_df.reset_index(drop=True) ##  인덱스 리셋

In [85]:
sub_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           5.0          3.6           1.4          0.2  setosa
2           5.4          3.9           1.7          0.4  setosa
3           5.0          3.4           1.5          0.2  setosa
4           5.4          3.7           1.5          0.2  setosa

In [86]:
len(sub_df)

128

In [87]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [88]:
(df['Sepal.Length']>=5.0) & (df['Petal.Width']==0.2)

0       True
1      False
2      False
3      False
4       True
5      False
6      False
7       True
8      False
9      False
10      True
11     False
12     False
13     False
14      True
15     False
16     False
17     False
18     False
19     False
20      True
21     False
22     False
23     False
24     False
25      True
26     False
27      True
28      True
29     False
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [20]:
sub_df = df[(df['Sepal.Length']>=5.0) & (df['Petal.Width']==0.2)]

In [90]:
len(sub_df)

16

In [91]:
df['Sepal.Length'].max()

7.9

In [21]:
df[df['Sepal.Length']==df['Sepal.Length'].max()]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
131           7.9          3.8           6.4          2.0  virginica

In [22]:
sub_df.max()

Sepal.Length       5.8
Sepal.Width        4.2
Petal.Length       1.7
Petal.Width        0.2
Species         setosa
dtype: object

### 새로운 칼럼 추가

In [93]:
df['number'] = 1

In [94]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  number
0           5.1          3.5           1.4          0.2  setosa       1
1           4.9          3.0           1.4          0.2  setosa       1
2           4.7          3.2           1.3          0.2  setosa       1
3           4.6          3.1           1.5          0.2  setosa       1
4           5.0          3.6           1.4          0.2  setosa       1

In [95]:
df['number'] = np.arange(0,150)

In [96]:
np.arange(0,150)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149])

In [97]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  number
0           5.1          3.5           1.4          0.2  setosa       0
1           4.9          3.0           1.4          0.2  setosa       1
2           4.7          3.2           1.3          0.2  setosa       2
3           4.6          3.1           1.5          0.2  setosa       3
4           5.0          3.6           1.4          0.2  setosa       4

In [98]:
df['number'] = df['Sepal.Width'] + df['Petal.Width']

In [99]:
df['label'] = np.where(df['Species'] == 'setosa',1,0)

In [100]:
df['sum']=df.iloc[:,:4].sum(axis=1)

In [174]:
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,number,label,sum
0,5.1,3.5,1.4,0.2,setosa,0,1,10.2
1,4.9,3.0,1.4,0.2,setosa,1,1,9.5
2,4.7,3.2,1.3,0.2,setosa,2,1,9.4
3,4.6,3.1,1.5,0.2,setosa,3,1,9.4
4,5.0,3.6,1.4,0.2,setosa,4,1,10.2
5,5.4,3.9,1.7,0.4,setosa,5,1,11.4
6,4.6,3.4,1.4,0.3,setosa,6,1,9.7
7,5.0,3.4,1.5,0.2,setosa,7,1,10.1
8,4.4,2.9,1.4,0.2,setosa,8,1,8.9
9,4.9,3.1,1.5,0.1,setosa,9,1,9.6
10,5.4,3.7,1.5,0.2,setosa,10,1,10.8
11,4.8,3.4,1.6,0.2,setosa,11,1,10.0
12,4.8,3.0,1.4,0.1,setosa,12,1,9.3
13,4.3,3.0,1.1,0.1,setosa,13,1,8.5
14,5.8,4.0,1.2,0.2,setosa,14,1,11.2
15,5.7,4.4,1.5,0.4,setosa,15,1,12.0
16,5.4,3.9,1.3,0.4,setosa,16,1,11.0
17,5.1,3.5,1.4,0.3,setosa,17,1,10.3
18,5.7,3.8,1.7,0.3,setosa,18,1,11.5
19,5.1,3.8,1.5,0.3,setosa,19,1,10.7
20,5.4,3.4,1.7,0.2,setosa,20,1,10.7
21,5.1,3.7,1.5,0.4,setosa,21,1,10.7
22,4.6,3.6,1.0,0.2,setosa,22,1,9.4
23,5.1,3.3,1.7,0.5,setosa,23,1,10.6
24,4.8,3.4,1.9,0.2,setosa,24,1,10.3
25,5.0,3.0,1.6,0.2,setosa,25,1,9.8
26,5.0,3.4,1.6,0.4,setosa,26,1,10.4
27,5.2,3.5,1.5,0.2,setosa,27,1,10.4
28,5.2,3.4,1.4,0.2,setosa,28,1,10.2
29,4.7,3.2,1.6,0.2,setosa,29,1,9.7
...,...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,120,0,18.1
121,5.6,2.8,4.9,2.0,virginica,121,0,15.3
122,7.7,2.8,6.7,2.0,virginica,122,0,19.2
123,6.3,2.7,4.9,1.8,virginica,123,0,15.7
124,6.7,3.3,5.7,2.1,virginica,124,0,17.8
125,7.2,3.2,6.0,1.8,virginica,125,0,18.2
126,6.2,2.8,4.8,1.8,virginica,126,0,15.6
127,6.1,3.0,4.9,1.8,virginica,127,0,15.8
128,6.4,2.8,5.6,2.1,virginica,128,0,16.9
129,7.2,3.0,5.8,1.6,virginica,129,0,17.6
130,7.4,2.8,6.1,1.9,virginica,130,0,18.2
131,7.9,3.8,6.4,2.0,virginica,131,0,20.1
132,6.4,2.8,5.6,2.2,virginica,132,0,17.0
133,6.3,2.8,5.1,1.5,virginica,133,0,15.7
134,6.1,2.6,5.6,1.4,virginica,134,0,15.7
135,7.7,3.0,6.1,2.3,virginica,135,0,19.1
136,6.3,3.4,5.6,2.4,virginica,136,0,17.7
137,6.4,3.1,5.5,1.8,virginica,137,0,16.8
138,6.0,3.0,4.8,1.8,virginica,138,0,15.6
139,6.9,3.1,5.4,2.1,virginica,139,0,17.5
140,6.7,3.1,5.6,2.4,virginica,140,0,17.8
141,6.9,3.1,5.1,2.3,virginica,141,0,17.4
142,5.8,2.7,5.1,1.9,virginica,142,0,15.5
143,6.8,3.2,5.9,2.3,virginica,143,0,18.2
144,6.7,3.3,5.7,2.5,virginica,144,0,18.2
145,6.7,3.0,5.2,2.3,virginica,145,0,17.2
146,6.3,2.5,5.0,1.9,virginica,146,0,15.7
147,6.5,3.0,5.2,2.0,virginica,147,0,16.7
148,6.2,3.4,5.4,2.3,virginica,148,0,17.3
149,5.9,3.0,5.1,1.8,virginica,149,0,15.8

### group by

In [101]:
df.groupby("Species").sum()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,number,label,sum
Species,,,,,,,
setosa,250.3,171.4,73.1,12.3,183.7,50,507.1
versicolor,296.8,138.5,213.0,66.3,204.8,0,714.6
virginica,329.4,148.7,277.6,101.3,250.0,0,857.0

In [102]:
df.groupby("Species").mean()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,number,label,sum
Species,,,,,,,
setosa,5.006,3.428,1.462,0.246,3.674,1,10.142
versicolor,5.936,2.770,4.260,1.326,4.096,0,14.292
virginica,6.588,2.974,5.552,2.026,5.000,0,17.140

### lambda 와 apply

In [72]:
## lambda = 익명함수

In [103]:
df.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,number,label,sum
0,5.1,3.5,1.4,0.2,setosa,3.7,1,10.2
1,4.9,3.0,1.4,0.2,setosa,3.2,1,9.5
2,4.7,3.2,1.3,0.2,setosa,3.4,1,9.4
3,4.6,3.1,1.5,0.2,setosa,3.3,1,9.4
4,5.0,3.6,1.4,0.2,setosa,3.8,1,10.2

In [104]:
df.iloc[:,0:4].apply(np.sum, axis=0)

Sepal.Length    876.5
Sepal.Width     458.6
Petal.Length    563.7
Petal.Width     179.9
dtype: float64

In [105]:
df.iloc[:,0:4].apply(np.sum, axis=1)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [106]:
df.iloc[:,0:4].apply(lambda x: x+1)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             6.1          4.5           2.4          1.2
1             5.9          4.0           2.4          1.2
2             5.7          4.2           2.3          1.2
3             5.6          4.1           2.5          1.2
4             6.0          4.6           2.4          1.2
5             6.4          4.9           2.7          1.4
6             5.6          4.4           2.4          1.3
7             6.0          4.4           2.5          1.2
8             5.4          3.9           2.4          1.2
9             5.9          4.1           2.5          1.1
10            6.4          4.7           2.5          1.2
11            5.8          4.4           2.6          1.2
12            5.8          4.0           2.4          1.1
13            5.3          4.0           2.1          1.1
14            6.8          5.0           2.2          1.2
15            6.7          5.4           2.5          1.4
16            6.4          4.9           2.3          1.4
17            6.1          4.5           2.4          1.3
18            6.7          4.8           2.7          1.3
19            6.1          4.8           2.5          1.3
20            6.4          4.4           2.7          1.2
21            6.1          4.7           2.5          1.4
22            5.6          4.6           2.0          1.2
23            6.1          4.3           2.7          1.5
24            5.8          4.4           2.9          1.2
25            6.0          4.0           2.6          1.2
26            6.0          4.4           2.6          1.4
27            6.2          4.5           2.5          1.2
28            6.2          4.4           2.4          1.2
29            5.7          4.2           2.6          1.2
..            ...          ...           ...          ...
120           7.9          4.2           6.7          3.3
121           6.6          3.8           5.9          3.0
122           8.7          3.8           7.7          3.0
123           7.3          3.7           5.9          2.8
124           7.7          4.3           6.7          3.1
125           8.2          4.2           7.0          2.8
126           7.2          3.8           5.8          2.8
127           7.1          4.0           5.9          2.8
128           7.4          3.8           6.6          3.1
129           8.2          4.0           6.8          2.6
130           8.4          3.8           7.1          2.9
131           8.9          4.8           7.4          3.0
132           7.4          3.8           6.6          3.2
133           7.3          3.8           6.1          2.5
134           7.1          3.6           6.6          2.4
135           8.7          4.0           7.1          3.3
136           7.3          4.4           6.6          3.4
137           7.4          4.1           6.5          2.8
138           7.0          4.0           5.8          2.8
139           7.9          4.1           6.4          3.1
140           7.7          4.1           6.6          3.4
141           7.9          4.1           6.1          3.3
142           6.8          3.7           6.1          2.9
143           7.8          4.2           6.9          3.3
144           7.7          4.3           6.7          3.5
145           7.7          4.0           6.2          3.3
146           7.3          3.5           6.0          2.9
147           7.5          4.0           6.2          3.0
148           7.2          4.4           6.4          3.3
149           6.9          4.0           6.1          2.8

[150 rows x 4 columns]

In [113]:
df.iloc[:,0:4].apply(lambda x: x.max() - x.min(), axis = 1)

0      4.9
1      4.7
2      4.5
3      4.4
4      4.8
5      5.0
6      4.3
7      4.8
8      4.2
9      4.8
10     5.2
11     4.6
12     4.7
13     4.2
14     5.6
15     5.3
16     5.0
17     4.8
18     5.4
19     4.8
20     5.2
21     4.7
22     4.4
23     4.6
24     4.6
25     4.8
26     4.6
27     5.0
28     5.0
29     4.5
      ...
120    4.6
121    3.6
122    5.7
123    4.5
124    4.6
125    5.4
126    4.4
127    4.3
128    4.3
129    5.6
130    5.5
131    5.9
132    4.2
133    4.8
134    4.7
135    5.4
136    3.9
137    4.6
138    4.2
139    4.8
140    4.3
141    4.6
142    3.9
143    4.5
144    4.2
145    4.4
146    4.4
147    4.5
148    3.9
149    4.1
Length: 150, dtype: float64

### concat, merge, join

In [114]:
rental = pd.read_csv('data/bike_rental.csv')
rental.head()

              datetime  casual  registered  count
0  2011-01-01 00:00:00       3          13     16
1  2011-01-01 01:00:00       8          32     40
2  2011-01-01 02:00:00       5          27     32
3  2011-01-01 03:00:00       3          10     13
4  2011-01-01 04:00:00       0           1      1

In [115]:
weather = pd.read_csv('data/bike_weather.csv')
weather.head()

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0

In [116]:
print(rental.shape)
print(weather.shape)

(10886, 4)
(10886, 10)

#### 행 이어붙이기

In [117]:
## 없는 칼럼은 NaN
df = pd.concat([weather, rental])
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,atemp,casual,count,date,datetime,holiday,hour,humidity,registered,season,temp,weather,windspeed,workingday
0,14.395,NaN,NaN,2011-01-01,NaN,0.0,0.0,81.0,NaN,1.0,9.84,1.0,0.0,0.0
1,13.635,NaN,NaN,2011-01-01,NaN,0.0,1.0,80.0,NaN,1.0,9.02,1.0,0.0,0.0
2,13.635,NaN,NaN,2011-01-01,NaN,0.0,2.0,80.0,NaN,1.0,9.02,1.0,0.0,0.0
3,14.395,NaN,NaN,2011-01-01,NaN,0.0,3.0,75.0,NaN,1.0,9.84,1.0,0.0,0.0
4,14.395,NaN,NaN,2011-01-01,NaN,0.0,4.0,75.0,NaN,1.0,9.84,1.0,0.0,0.0

In [138]:
pd.concat?

In [118]:
len(df)

21772

In [119]:
weather.append(rental)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,atemp,casual,count,date,datetime,holiday,hour,humidity,registered,season,temp,weather,windspeed,workingday
0,14.395,NaN,NaN,2011-01-01,NaN,0.0,0.0,81.0,NaN,1.0,9.84,1.0,0.0000,0.0
1,13.635,NaN,NaN,2011-01-01,NaN,0.0,1.0,80.0,NaN,1.0,9.02,1.0,0.0000,0.0
2,13.635,NaN,NaN,2011-01-01,NaN,0.0,2.0,80.0,NaN,1.0,9.02,1.0,0.0000,0.0
3,14.395,NaN,NaN,2011-01-01,NaN,0.0,3.0,75.0,NaN,1.0,9.84,1.0,0.0000,0.0
4,14.395,NaN,NaN,2011-01-01,NaN,0.0,4.0,75.0,NaN,1.0,9.84,1.0,0.0000,0.0
5,12.880,NaN,NaN,2011-01-01,NaN,0.0,5.0,75.0,NaN,1.0,9.84,2.0,6.0032,0.0
6,13.635,NaN,NaN,2011-01-01,NaN,0.0,6.0,80.0,NaN,1.0,9.02,1.0,0.0000,0.0
7,12.880,NaN,NaN,2011-01-01,NaN,0.0,7.0,86.0,NaN,1.0,8.20,1.0,0.0000,0.0
8,14.395,NaN,NaN,2011-01-01,NaN,0.0,8.0,75.0,NaN,1.0,9.84,1.0,0.0000,0.0
9,17.425,NaN,NaN,2011-01-01,NaN,0.0,9.0,76.0,NaN,1.0,13.12,1.0,0.0000,0.0
10,19.695,NaN,NaN,2011-01-01,NaN,0.0,10.0,76.0,NaN,1.0,15.58,1.0,16.9979,0.0
11,16.665,NaN,NaN,2011-01-01,NaN,0.0,11.0,81.0,NaN,1.0,14.76,1.0,19.0012,0.0
12,21.210,NaN,NaN,2011-01-01,NaN,0.0,12.0,77.0,NaN,1.0,17.22,1.0,19.0012,0.0
13,22.725,NaN,NaN,2011-01-01,NaN,0.0,13.0,72.0,NaN,1.0,18.86,2.0,19.9995,0.0
14,22.725,NaN,NaN,2011-01-01,NaN,0.0,14.0,72.0,NaN,1.0,18.86,2.0,19.0012,0.0
15,21.970,NaN,NaN,2011-01-01,NaN,0.0,15.0,77.0,NaN,1.0,18.04,2.0,19.9995,0.0
16,21.210,NaN,NaN,2011-01-01,NaN,0.0,16.0,82.0,NaN,1.0,17.22,2.0,19.9995,0.0
17,21.970,NaN,NaN,2011-01-01,NaN,0.0,17.0,82.0,NaN,1.0,18.04,2.0,19.0012,0.0
18,21.210,NaN,NaN,2011-01-01,NaN,0.0,18.0,88.0,NaN,1.0,17.22,3.0,16.9979,0.0
19,21.210,NaN,NaN,2011-01-01,NaN,0.0,19.0,88.0,NaN,1.0,17.22,3.0,16.9979,0.0
20,20.455,NaN,NaN,2011-01-01,NaN,0.0,20.0,87.0,NaN,1.0,16.40,2.0,16.9979,0.0
21,20.455,NaN,NaN,2011-01-01,NaN,0.0,21.0,87.0,NaN,1.0,16.40,2.0,12.9980,0.0
22,20.455,NaN,NaN,2011-01-01,NaN,0.0,22.0,94.0,NaN,1.0,16.40,2.0,15.0013,0.0
23,22.725,NaN,NaN,2011-01-01,NaN,0.0,23.0,88.0,NaN,1.0,18.86,2.0,19.9995,0.0
24,22.725,NaN,NaN,2011-01-02,NaN,0.0,0.0,88.0,NaN,1.0,18.86,2.0,19.9995,0.0
25,21.970,NaN,NaN,2011-01-02,NaN,0.0,1.0,94.0,NaN,1.0,18.04,2.0,16.9979,0.0
26,21.210,NaN,NaN,2011-01-02,NaN,0.0,2.0,100.0,NaN,1.0,17.22,2.0,19.0012,0.0
27,22.725,NaN,NaN,2011-01-02,NaN,0.0,3.0,94.0,NaN,1.0,18.86,2.0,12.9980,0.0
28,22.725,NaN,NaN,2011-01-02,NaN,0.0,4.0,94.0,NaN,1.0,18.86,2.0,12.9980,0.0
29,21.210,NaN,NaN,2011-01-02,NaN,0.0,6.0,77.0,NaN,1.0,17.22,3.0,19.9995,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,NaN,13.0,525.0,NaN,2012-12-18 18:00:00,NaN,NaN,NaN,512.0,NaN,NaN,NaN,NaN,NaN
10857,NaN,19.0,353.0,NaN,2012-12-18 19:00:00,NaN,NaN,NaN,334.0,NaN,NaN,NaN,NaN,NaN
10858,NaN,4.0,268.0,NaN,2012-12-18 20:00:00,NaN,NaN,NaN,264.0,NaN,NaN,NaN,NaN,NaN
10859,NaN,9.0,168.0,NaN,2012-12-18 21:00:00,NaN,NaN,NaN,159.0,NaN,NaN,NaN,NaN,NaN
10860,NaN,5.0,132.0,NaN,2012-12-18 22:00:00,NaN,NaN,NaN,127.0,NaN,NaN,NaN,NaN,NaN
10861,NaN,1.0,81.0,NaN,2012-12-18 23:00:00,NaN,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN
10862,NaN,6.0,41.0,NaN,2012-12-19 00:00:00,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN
10863,NaN,1.0,15.0,NaN,2012-12-19 01:00:00,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN
10864,NaN,1.0,3.0,NaN,2012-12-19 02:00:00,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
10865,NaN,0.0,5.0,NaN,2012-12-19 03:00:00,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
10866,NaN,1.0,7.0,NaN,2012-12-19 04:00:00,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN
10867,NaN,2.0,31.0,NaN,2012-12-19 05:00:00,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN
10868,NaN,3.0,112.0,NaN,2012-12-19 06:00:00,NaN,NaN,NaN,109.0,NaN,NaN,NaN,NaN,NaN
10869,NaN,3.0,363.0,NaN,2012-12-19 07:00:00,NaN,NaN,NaN,360.0,NaN,NaN,NaN,NaN,NaN
10870,NaN,13.0,678.0,NaN,2012-12-19 08:00:00,NaN,NaN,NaN,665.0,NaN,NaN,NaN,NaN,NaN
10871,NaN,8.0,317.0,NaN,2012-12-19 09:00:00,NaN,NaN,NaN,309.0,NaN,NaN,NaN,NaN,NaN
10872,NaN,17.0,164.0,NaN,2012-12-19 10:00:00,NaN,NaN,NaN,147.0,NaN,NaN,NaN,NaN,NaN
10873,NaN,31.0,200.0,NaN,2012-12-19 11:00:00,NaN,NaN,NaN,169.0,NaN,NaN,NaN,NaN,NaN
10874,NaN,33.0,236.0,NaN,2012-12-19 12:00:00,NaN,NaN,NaN,203.0,NaN,NaN,NaN,NaN,NaN
10875,NaN,30.0,213.0,NaN,2012-12-19 13:00:00,NaN,NaN,NaN,183.0,NaN,NaN,NaN,NaN,NaN
10876,NaN,33.0,218.0,NaN,2012-12-19 14:00:00,NaN,NaN,NaN,185.0,NaN,NaN,NaN,NaN,NaN
10877,NaN,28.0,237.0,NaN,2012-12-19 15:00:00,NaN,NaN,NaN,209.0,NaN,NaN,NaN,NaN,NaN
10878,NaN,37.0,334.0,NaN,2012-12-19 16:00:00,NaN,NaN,NaN,297.0,NaN,NaN,NaN,NaN,NaN
10879,NaN,26.0,562.0,NaN,2012-12-19 17:00:00,NaN,NaN,NaN,536.0,NaN,NaN,NaN,NaN,NaN
10880,NaN,23.0,569.0,NaN,2012-12-19 18:00:00,NaN,NaN,NaN,546.0,NaN,NaN,NaN,NaN,NaN
10881,NaN,7.0,336.0,NaN,2012-12-19 19:00:00,NaN,NaN,NaN,329.0,NaN,NaN,NaN,NaN,NaN
10882,NaN,10.0,241.0,NaN,2012-12-19 20:00:00,NaN,NaN,NaN,231.0,NaN,NaN,NaN,NaN,NaN
10883,NaN,4.0,168.0,NaN,2012-12-19 21:00:00,NaN,NaN,NaN,164.0,NaN,NaN,NaN,NaN,NaN
10884,NaN,12.0,129.0,NaN,2012-12-19 22:00:00,NaN,NaN,NaN,117.0,NaN,NaN,NaN,NaN,NaN
10885,NaN,4.0,88.0,NaN,2012-12-19 23:00:00,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN

In [141]:
pd.concat([weather, rental],axis=1)

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime,casual,registered,count
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000,2011-01-01 00:00:00,3,13,16
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 01:00:00,8,32,40
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 02:00:00,5,27,32
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 03:00:00,3,10,13
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 04:00:00,0,1,1
5,2011-01-01,5,1,0,0,2,9.84,12.880,75,6.0032,2011-01-01 05:00:00,0,1,1
6,2011-01-01,6,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 06:00:00,2,0,2
7,2011-01-01,7,1,0,0,1,8.20,12.880,86,0.0000,2011-01-01 07:00:00,1,2,3
8,2011-01-01,8,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 08:00:00,1,7,8
9,2011-01-01,9,1,0,0,1,13.12,17.425,76,0.0000,2011-01-01 09:00:00,8,6,14
10,2011-01-01,10,1,0,0,1,15.58,19.695,76,16.9979,2011-01-01 10:00:00,12,24,36
11,2011-01-01,11,1,0,0,1,14.76,16.665,81,19.0012,2011-01-01 11:00:00,26,30,56
12,2011-01-01,12,1,0,0,1,17.22,21.210,77,19.0012,2011-01-01 12:00:00,29,55,84
13,2011-01-01,13,1,0,0,2,18.86,22.725,72,19.9995,2011-01-01 13:00:00,47,47,94
14,2011-01-01,14,1,0,0,2,18.86,22.725,72,19.0012,2011-01-01 14:00:00,35,71,106
15,2011-01-01,15,1,0,0,2,18.04,21.970,77,19.9995,2011-01-01 15:00:00,40,70,110
16,2011-01-01,16,1,0,0,2,17.22,21.210,82,19.9995,2011-01-01 16:00:00,41,52,93
17,2011-01-01,17,1,0,0,2,18.04,21.970,82,19.0012,2011-01-01 17:00:00,15,52,67
18,2011-01-01,18,1,0,0,3,17.22,21.210,88,16.9979,2011-01-01 18:00:00,9,26,35
19,2011-01-01,19,1,0,0,3,17.22,21.210,88,16.9979,2011-01-01 19:00:00,6,31,37
20,2011-01-01,20,1,0,0,2,16.40,20.455,87,16.9979,2011-01-01 20:00:00,11,25,36
21,2011-01-01,21,1,0,0,2,16.40,20.455,87,12.9980,2011-01-01 21:00:00,3,31,34
22,2011-01-01,22,1,0,0,2,16.40,20.455,94,15.0013,2011-01-01 22:00:00,11,17,28
23,2011-01-01,23,1,0,0,2,18.86,22.725,88,19.9995,2011-01-01 23:00:00,15,24,39
24,2011-01-02,0,1,0,0,2,18.86,22.725,88,19.9995,2011-01-02 00:00:00,4,13,17
25,2011-01-02,1,1,0,0,2,18.04,21.970,94,16.9979,2011-01-02 01:00:00,1,16,17
26,2011-01-02,2,1,0,0,2,17.22,21.210,100,19.0012,2011-01-02 02:00:00,1,8,9
27,2011-01-02,3,1,0,0,2,18.86,22.725,94,12.9980,2011-01-02 03:00:00,2,4,6
28,2011-01-02,4,1,0,0,2,18.86,22.725,94,12.9980,2011-01-02 04:00:00,2,1,3
29,2011-01-02,6,1,0,0,3,17.22,21.210,77,19.9995,2011-01-02 06:00:00,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18,18,4,0,1,1,15.58,19.695,46,22.0028,2012-12-18 18:00:00,13,512,525
10857,2012-12-18,19,4,0,1,1,15.58,19.695,46,26.0027,2012-12-18 19:00:00,19,334,353
10858,2012-12-18,20,4,0,1,1,14.76,16.665,50,16.9979,2012-12-18 20:00:00,4,264,268
10859,2012-12-18,21,4,0,1,1,14.76,17.425,50,15.0013,2012-12-18 21:00:00,9,159,168
10860,2012-12-18,22,4,0,1,1,13.94,16.665,49,0.0000,2012-12-18 22:00:00,5,127,132
10861,2012-12-18,23,4,0,1,1,13.94,17.425,49,6.0032,2012-12-18 23:00:00,1,80,81
10862,2012-12-19,0,4,0,1,1,12.30,15.910,61,0.0000,2012-12-19 00:00:00,6,35,41
10863,2012-12-19,1,4,0,1,1,12.30,15.910,65,6.0032,2012-12-19 01:00:00,1,14,15
10864,2012-12-19,2,4,0,1,1,11.48,15.150,65,6.0032,2012-12-19 02:00:00,1,2,3
10865,2012-12-19,3,4,0,1,1,10.66,13.635,75,8.9981,2012-12-19 03:00:00,0,5,5
10866,2012-12-19,4,4,0,1,1,9.84,12.120,75,8.9981,2012-12-19 04:00:00,1,6,7
10867,2012-12-19,5,4,0,1,1,10.66,14.395,75,6.0032,2012-12-19 05:00:00,2,29,31
10868,2012-12-19,6,4,0,1,1,9.84,12.880,75,6.0032,2012-12-19 06:00:00,3,109,112
10869,2012-12-19,7,4,0,1,1,10.66,13.635,75,8.9981,2012-12-19 07:00:00,3,360,363
10870,2012-12-19,8,4,0,1,1,9.84,12.880,87,7.0015,2012-12-19 08:00:00,13,665,678
10871,2012-12-19,9,4,0,1,1,11.48,14.395,75,7.0015,2012-12-19 09:00:00,8,309,317
10872,2012-12-19,10,4,0,1,1,13.12,16.665,70,7.0015,2012-12-19 10:00:00,17,147,164
10873,2012-12-19,11,4,0,1,1,16.40,20.455,54,15.0013,2012-12-19 11:00:00,31,169,200
10874,2012-12-19,12,4,0,1,1,16.40,20.455,54,19.0012,2012-12-19 12:00:00,33,203,236
10875,2012-12-19,13,4,0,1,1,17.22,21.210,50,12.9980,2012-12-19 13:00:00,30,183,213
10876,2012-12-19,14,4,0,1,1,17.22,21.210,50,12.9980,2012-12-19 14:00:00,33,185,218
10877,2012-12-19,15,4,0,1,1,17.22,21.210,50,19.0012,2012-12-19 15:00:00,28,209,237
10878,2012-12-19,16,4,0,1,1,17.22,21.210,50,23.9994,2012-12-19 16:00:00,37,297,334
10879,2012-12-19,17,4,0,1,1,16.40,20.455,50,26.0027,2012-12-19 17:00:00,26,536,562
10880,2012-12-19,18,4,0,1,1,15.58,19.695,50,23.9994,2012-12-19 18:00:00,23,546,569
10881,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027,2012-12-19 19:00:00,7,329,336
10882,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013,2012-12-19 20:00:00,10,231,241
10883,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013,2012-12-19 21:00:00,4,164,168
10884,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032,2012-12-19 22:00:00,12,117,129
10885,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981,2012-12-19 23:00:00,4,84,88

#### 열 이어붙이기

In [120]:
df = pd.concat([weather,rental], axis = 1)
df.head()

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime,casual,registered,count
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0,2011-01-01 00:00:00,3,13,16
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 01:00:00,8,32,40
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 02:00:00,5,27,32
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 03:00:00,3,10,13
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 04:00:00,0,1,1

In [121]:
df.shape

(10886, 14)

#### merge

In [122]:
weather['hour'] = weather['hour'].astype(str) #숫자->str
weather['datetime'] = weather.loc[:,['date','hour']].apply(lambda x :" ".join(x), axis = 1)
weather.head()

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0,2011-01-01 0
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 1
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 2
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 3
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 4

In [123]:
from datetime import datetime as dt
weather['datetime'] = weather['datetime'].apply(lambda x : dt.strptime(x,"%Y-%m-%d %H"))
weather.head()

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0,2011-01-01 00:00:00
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 01:00:00
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 02:00:00
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 03:00:00
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 04:00:00

In [124]:
type(weather["datetime"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [125]:
type(rental["datetime"][0])

str

In [126]:
weather['datetime'] = weather['datetime'].astype(str)

In [127]:
pd.merge(weather, rental, how='inner',on='datetime')

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime,casual,registered,count
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000,2011-01-01 00:00:00,3,13,16
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 01:00:00,8,32,40
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 02:00:00,5,27,32
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 03:00:00,3,10,13
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 04:00:00,0,1,1
5,2011-01-01,5,1,0,0,2,9.84,12.880,75,6.0032,2011-01-01 05:00:00,0,1,1
6,2011-01-01,6,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 06:00:00,2,0,2
7,2011-01-01,7,1,0,0,1,8.20,12.880,86,0.0000,2011-01-01 07:00:00,1,2,3
8,2011-01-01,8,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 08:00:00,1,7,8
9,2011-01-01,9,1,0,0,1,13.12,17.425,76,0.0000,2011-01-01 09:00:00,8,6,14
10,2011-01-01,10,1,0,0,1,15.58,19.695,76,16.9979,2011-01-01 10:00:00,12,24,36
11,2011-01-01,11,1,0,0,1,14.76,16.665,81,19.0012,2011-01-01 11:00:00,26,30,56
12,2011-01-01,12,1,0,0,1,17.22,21.210,77,19.0012,2011-01-01 12:00:00,29,55,84
13,2011-01-01,13,1,0,0,2,18.86,22.725,72,19.9995,2011-01-01 13:00:00,47,47,94
14,2011-01-01,14,1,0,0,2,18.86,22.725,72,19.0012,2011-01-01 14:00:00,35,71,106
15,2011-01-01,15,1,0,0,2,18.04,21.970,77,19.9995,2011-01-01 15:00:00,40,70,110
16,2011-01-01,16,1,0,0,2,17.22,21.210,82,19.9995,2011-01-01 16:00:00,41,52,93
17,2011-01-01,17,1,0,0,2,18.04,21.970,82,19.0012,2011-01-01 17:00:00,15,52,67
18,2011-01-01,18,1,0,0,3,17.22,21.210,88,16.9979,2011-01-01 18:00:00,9,26,35
19,2011-01-01,19,1,0,0,3,17.22,21.210,88,16.9979,2011-01-01 19:00:00,6,31,37
20,2011-01-01,20,1,0,0,2,16.40,20.455,87,16.9979,2011-01-01 20:00:00,11,25,36
21,2011-01-01,21,1,0,0,2,16.40,20.455,87,12.9980,2011-01-01 21:00:00,3,31,34
22,2011-01-01,22,1,0,0,2,16.40,20.455,94,15.0013,2011-01-01 22:00:00,11,17,28
23,2011-01-01,23,1,0,0,2,18.86,22.725,88,19.9995,2011-01-01 23:00:00,15,24,39
24,2011-01-02,0,1,0,0,2,18.86,22.725,88,19.9995,2011-01-02 00:00:00,4,13,17
25,2011-01-02,1,1,0,0,2,18.04,21.970,94,16.9979,2011-01-02 01:00:00,1,16,17
26,2011-01-02,2,1,0,0,2,17.22,21.210,100,19.0012,2011-01-02 02:00:00,1,8,9
27,2011-01-02,3,1,0,0,2,18.86,22.725,94,12.9980,2011-01-02 03:00:00,2,4,6
28,2011-01-02,4,1,0,0,2,18.86,22.725,94,12.9980,2011-01-02 04:00:00,2,1,3
29,2011-01-02,6,1,0,0,3,17.22,21.210,77,19.9995,2011-01-02 06:00:00,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18,18,4,0,1,1,15.58,19.695,46,22.0028,2012-12-18 18:00:00,13,512,525
10857,2012-12-18,19,4,0,1,1,15.58,19.695,46,26.0027,2012-12-18 19:00:00,19,334,353
10858,2012-12-18,20,4,0,1,1,14.76,16.665,50,16.9979,2012-12-18 20:00:00,4,264,268
10859,2012-12-18,21,4,0,1,1,14.76,17.425,50,15.0013,2012-12-18 21:00:00,9,159,168
10860,2012-12-18,22,4,0,1,1,13.94,16.665,49,0.0000,2012-12-18 22:00:00,5,127,132
10861,2012-12-18,23,4,0,1,1,13.94,17.425,49,6.0032,2012-12-18 23:00:00,1,80,81
10862,2012-12-19,0,4,0,1,1,12.30,15.910,61,0.0000,2012-12-19 00:00:00,6,35,41
10863,2012-12-19,1,4,0,1,1,12.30,15.910,65,6.0032,2012-12-19 01:00:00,1,14,15
10864,2012-12-19,2,4,0,1,1,11.48,15.150,65,6.0032,2012-12-19 02:00:00,1,2,3
10865,2012-12-19,3,4,0,1,1,10.66,13.635,75,8.9981,2012-12-19 03:00:00,0,5,5
10866,2012-12-19,4,4,0,1,1,9.84,12.120,75,8.9981,2012-12-19 04:00:00,1,6,7
10867,2012-12-19,5,4,0,1,1,10.66,14.395,75,6.0032,2012-12-19 05:00:00,2,29,31
10868,2012-12-19,6,4,0,1,1,9.84,12.880,75,6.0032,2012-12-19 06:00:00,3,109,112
10869,2012-12-19,7,4,0,1,1,10.66,13.635,75,8.9981,2012-12-19 07:00:00,3,360,363
10870,2012-12-19,8,4,0,1,1,9.84,12.880,87,7.0015,2012-12-19 08:00:00,13,665,678
10871,2012-12-19,9,4,0,1,1,11.48,14.395,75,7.0015,2012-12-19 09:00:00,8,309,317
10872,2012-12-19,10,4,0,1,1,13.12,16.665,70,7.0015,2012-12-19 10:00:00,17,147,164
10873,2012-12-19,11,4,0,1,1,16.40,20.455,54,15.0013,2012-12-19 11:00:00,31,169,200
10874,2012-12-19,12,4,0,1,1,16.40,20.455,54,19.0012,2012-12-19 12:00:00,33,203,236
10875,2012-12-19,13,4,0,1,1,17.22,21.210,50,12.9980,2012-12-19 13:00:00,30,183,213
10876,2012-12-19,14,4,0,1,1,17.22,21.210,50,12.9980,2012-12-19 14:00:00,33,185,218
10877,2012-12-19,15,4,0,1,1,17.22,21.210,50,19.0012,2012-12-19 15:00:00,28,209,237
10878,2012-12-19,16,4,0,1,1,17.22,21.210,50,23.9994,2012-12-19 16:00:00,37,297,334
10879,2012-12-19,17,4,0,1,1,16.40,20.455,50,26.0027,2012-12-19 17:00:00,26,536,562
10880,2012-12-19,18,4,0,1,1,15.58,19.695,50,23.9994,2012-12-19 18:00:00,23,546,569
10881,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027,2012-12-19 19:00:00,7,329,336
10882,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013,2012-12-19 20:00:00,10,231,241
10883,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013,2012-12-19 21:00:00,4,164,168
10884,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032,2012-12-19 22:00:00,12,117,129
10885,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981,2012-12-19 23:00:00,4,84,88

#### join

In [128]:
weather.join(rental, how='inner',lsuffix='_weather',rsuffix='_rental')

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime_weather,datetime_rental,casual,registered,count
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000,2011-01-01 00:00:00,2011-01-01 00:00:00,3,13,16
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 01:00:00,2011-01-01 01:00:00,8,32,40
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 02:00:00,2011-01-01 02:00:00,5,27,32
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 03:00:00,2011-01-01 03:00:00,3,10,13
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 04:00:00,2011-01-01 04:00:00,0,1,1
5,2011-01-01,5,1,0,0,2,9.84,12.880,75,6.0032,2011-01-01 05:00:00,2011-01-01 05:00:00,0,1,1
6,2011-01-01,6,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 06:00:00,2011-01-01 06:00:00,2,0,2
7,2011-01-01,7,1,0,0,1,8.20,12.880,86,0.0000,2011-01-01 07:00:00,2011-01-01 07:00:00,1,2,3
8,2011-01-01,8,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 08:00:00,2011-01-01 08:00:00,1,7,8
9,2011-01-01,9,1,0,0,1,13.12,17.425,76,0.0000,2011-01-01 09:00:00,2011-01-01 09:00:00,8,6,14
10,2011-01-01,10,1,0,0,1,15.58,19.695,76,16.9979,2011-01-01 10:00:00,2011-01-01 10:00:00,12,24,36
11,2011-01-01,11,1,0,0,1,14.76,16.665,81,19.0012,2011-01-01 11:00:00,2011-01-01 11:00:00,26,30,56
12,2011-01-01,12,1,0,0,1,17.22,21.210,77,19.0012,2011-01-01 12:00:00,2011-01-01 12:00:00,29,55,84
13,2011-01-01,13,1,0,0,2,18.86,22.725,72,19.9995,2011-01-01 13:00:00,2011-01-01 13:00:00,47,47,94
14,2011-01-01,14,1,0,0,2,18.86,22.725,72,19.0012,2011-01-01 14:00:00,2011-01-01 14:00:00,35,71,106
15,2011-01-01,15,1,0,0,2,18.04,21.970,77,19.9995,2011-01-01 15:00:00,2011-01-01 15:00:00,40,70,110
16,2011-01-01,16,1,0,0,2,17.22,21.210,82,19.9995,2011-01-01 16:00:00,2011-01-01 16:00:00,41,52,93
17,2011-01-01,17,1,0,0,2,18.04,21.970,82,19.0012,2011-01-01 17:00:00,2011-01-01 17:00:00,15,52,67
18,2011-01-01,18,1,0,0,3,17.22,21.210,88,16.9979,2011-01-01 18:00:00,2011-01-01 18:00:00,9,26,35
19,2011-01-01,19,1,0,0,3,17.22,21.210,88,16.9979,2011-01-01 19:00:00,2011-01-01 19:00:00,6,31,37
20,2011-01-01,20,1,0,0,2,16.40,20.455,87,16.9979,2011-01-01 20:00:00,2011-01-01 20:00:00,11,25,36
21,2011-01-01,21,1,0,0,2,16.40,20.455,87,12.9980,2011-01-01 21:00:00,2011-01-01 21:00:00,3,31,34
22,2011-01-01,22,1,0,0,2,16.40,20.455,94,15.0013,2011-01-01 22:00:00,2011-01-01 22:00:00,11,17,28
23,2011-01-01,23,1,0,0,2,18.86,22.725,88,19.9995,2011-01-01 23:00:00,2011-01-01 23:00:00,15,24,39
24,2011-01-02,0,1,0,0,2,18.86,22.725,88,19.9995,2011-01-02 00:00:00,2011-01-02 00:00:00,4,13,17
25,2011-01-02,1,1,0,0,2,18.04,21.970,94,16.9979,2011-01-02 01:00:00,2011-01-02 01:00:00,1,16,17
26,2011-01-02,2,1,0,0,2,17.22,21.210,100,19.0012,2011-01-02 02:00:00,2011-01-02 02:00:00,1,8,9
27,2011-01-02,3,1,0,0,2,18.86,22.725,94,12.9980,2011-01-02 03:00:00,2011-01-02 03:00:00,2,4,6
28,2011-01-02,4,1,0,0,2,18.86,22.725,94,12.9980,2011-01-02 04:00:00,2011-01-02 04:00:00,2,1,3
29,2011-01-02,6,1,0,0,3,17.22,21.210,77,19.9995,2011-01-02 06:00:00,2011-01-02 06:00:00,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18,18,4,0,1,1,15.58,19.695,46,22.0028,2012-12-18 18:00:00,2012-12-18 18:00:00,13,512,525
10857,2012-12-18,19,4,0,1,1,15.58,19.695,46,26.0027,2012-12-18 19:00:00,2012-12-18 19:00:00,19,334,353
10858,2012-12-18,20,4,0,1,1,14.76,16.665,50,16.9979,2012-12-18 20:00:00,2012-12-18 20:00:00,4,264,268
10859,2012-12-18,21,4,0,1,1,14.76,17.425,50,15.0013,2012-12-18 21:00:00,2012-12-18 21:00:00,9,159,168
10860,2012-12-18,22,4,0,1,1,13.94,16.665,49,0.0000,2012-12-18 22:00:00,2012-12-18 22:00:00,5,127,132
10861,2012-12-18,23,4,0,1,1,13.94,17.425,49,6.0032,2012-12-18 23:00:00,2012-12-18 23:00:00,1,80,81
10862,2012-12-19,0,4,0,1,1,12.30,15.910,61,0.0000,2012-12-19 00:00:00,2012-12-19 00:00:00,6,35,41
10863,2012-12-19,1,4,0,1,1,12.30,15.910,65,6.0032,2012-12-19 01:00:00,2012-12-19 01:00:00,1,14,15
10864,2012-12-19,2,4,0,1,1,11.48,15.150,65,6.0032,2012-12-19 02:00:00,2012-12-19 02:00:00,1,2,3
10865,2012-12-19,3,4,0,1,1,10.66,13.635,75,8.9981,2012-12-19 03:00:00,2012-12-19 03:00:00,0,5,5
10866,2012-12-19,4,4,0,1,1,9.84,12.120,75,8.9981,2012-12-19 04:00:00,2012-12-19 04:00:00,1,6,7
10867,2012-12-19,5,4,0,1,1,10.66,14.395,75,6.0032,2012-12-19 05:00:00,2012-12-19 05:00:00,2,29,31
10868,2012-12-19,6,4,0,1,1,9.84,12.880,75,6.0032,2012-12-19 06:00:00,2012-12-19 06:00:00,3,109,112
10869,2012-12-19,7,4,0,1,1,10.66,13.635,75,8.9981,2012-12-19 07:00:00,2012-12-19 07:00:00,3,360,363
10870,2012-12-19,8,4,0,1,1,9.84,12.880,87,7.0015,2012-12-19 08:00:00,2012-12-19 08:00:00,13,665,678
10871,2012-12-19,9,4,0,1,1,11.48,14.395,75,7.0015,2012-12-19 09:00:00,2012-12-19 09:00:00,8,309,317
10872,2012-12-19,10,4,0,1,1,13.12,16.665,70,7.0015,2012-12-19 10:00:00,2012-12-19 10:00:00,17,147,164
10873,2012-12-19,11,4,0,1,1,16.40,20.455,54,15.0013,2012-12-19 11:00:00,2012-12-19 11:00:00,31,169,200
10874,2012-12-19,12,4,0,1,1,16.40,20.455,54,19.0012,2012-12-19 12:00:00,2012-12-19 12:00:00,33,203,236
10875,2012-12-19,13,4,0,1,1,17.22,21.210,50,12.9980,2012-12-19 13:00:00,2012-12-19 13:00:00,30,183,213
10876,2012-12-19,14,4,0,1,1,17.22,21.210,50,12.9980,2012-12-19 14:00:00,2012-12-19 14:00:00,33,185,218
10877,2012-12-19,15,4,0,1,1,17.22,21.210,50,19.0012,2012-12-19 15:00:00,2012-12-19 15:00:00,28,209,237
10878,2012-12-19,16,4,0,1,1,17.22,21.210,50,23.9994,2012-12-19 16:00:00,2012-12-19 16:00:00,37,297,334
10879,2012-12-19,17,4,0,1,1,16.40,20.455,50,26.0027,2012-12-19 17:00:00,2012-12-19 17:00:00,26,536,562
10880,2012-12-19,18,4,0,1,1,15.58,19.695,50,23.9994,2012-12-19 18:00:00,2012-12-19 18:00:00,23,546,569
10881,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027,2012-12-19 19:00:00,2012-12-19 19:00:00,7,329,336
10882,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013,2012-12-19 20:00:00,2012-12-19 20:00:00,10,231,241
10883,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013,2012-12-19 21:00:00,2012-12-19 21:00:00,4,164,168
10884,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032,2012-12-19 22:00:00,2012-12-19 22:00:00,12,117,129
10885,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981,2012-12-19 23:00:00,2012-12-19 23:00:00,4,84,88

In [ ]:
weather.join?

### 정규표현식

In [129]:
import re

In [131]:
text1 = "1234 asdfASDF  ㄱㄴㄷㄹㅏㅑㅓㅕ가나다라   .!@#"
text3 = pd.Series(["aaa", "bbb", "ccc", "abc"])

In [132]:
# 숫자 치환
re.sub(pattern="[0-9]", repl="@", string=text1)

'@@@@ asdfASDF  ㄱㄴㄷㄹㅏㅑㅓㅕ가나다라   .!@#'

In [133]:
# __ 자음 치환
re.sub(pattern="[ㄱ-ㅎ]", repl="@", string=text1)

'1234 asdfASDF  @@@@ㅏㅑㅓㅕ가나다라   .!@#'

In [134]:
# __ 영문자가 아닌 모든 문자 치환
re.sub(pattern="[^A-Za-z]", repl="@", string=text1)

'@@@@@asdfASDF@@@@@@@@@@@@@@@@@@@@@'

In [136]:
# __ 두 칸 띄어쓰기와 세 칸 띄어쓰기의 치환
re.sub(pattern="  |   ", repl="@", string=text1)

'1234 asdfASDF@ㄱㄴㄷㄹㅏㅑㅓㅕ가나다라@ .!@#'

In [137]:
re.sub(pattern=" {2}| {3}", repl="@", string=text1)

'1234 asdfASDF@ㄱㄴㄷㄹㅏㅑㅓㅕ가나다라@ .!@#'

In [138]:
text3.str.match("a")

0     True
1    False
2    False
3     True
dtype: bool

In [139]:
text3[text3.str.match("a")]

0    aaa
3    abc
dtype: object

In [140]:
pattern = re.compile("[a-b]")
text3.str.match(pattern)

0     True
1     True
2    False
3     True
dtype: bool

In [141]:
#정규식과 매치되는 모든 문자열을 리스트로 반환.
text3.str.findall(pattern)

0    [a, a, a]
1    [b, b, b]
2           []
3       [a, b]
dtype: object

### 더미변수(One-hot-encoding)

In [142]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [143]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [144]:
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = pd.concat([df['data1'],dummies], axis = 1)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [ ]:
fgfgdfg